<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zy.zy_sso.dao.UserDao">

	<resultMap type="com.zy.zy_sso.entity.UserEntity" id="userMap">
		<!-- property实体类属性     column SQL查询字段-->
		<id property="id" column="id" />
		<result property="userName" column="user_name" />
		<result property="password" column="password" />
	
		<collection property="role" ofType="com.zy.zy_sso.entity.RoleEntity">
			<id property="id" column="role_id" />
			<result property="roleName" column="roleName" />

			<collection property="author" ofType="com.zy.zy_sso.entity.AuthorEntity">
				<id property="menuId" column="menu_id" />
				<result property="url" column="url" />
				<result property="menuName" column="menu_name" />
			</collection>

		</collection>
	</resultMap>

	<select id="queryUserByUserName" resultMap="userMap">
		SELECT a.id,a.user_name,a.`password`,c.roleName,e.url,e.menu_name as menuName
		FROM zy_sso_user a 
		LEFT JOIN zy_sso_user_role b on a.id=b.userId
		LEFT JOIN zy_sso_role c on c.id=b.roleId
		LEFT JOIN zy_sso_role_menu d on d.roleId=c.id
		LEFT JOIN zy_sso_menu e on e.menu_id=d.menu_id
		WHERE a.user_name=#{userName}
	</select>
	
	<select id="getUserList" resultType="com.zy.zy_sso.entity.UserEntity" parameterType="com.zy.zy_sso.vo.UserPara">
		select id,user_name,password,head_img,date_format(ct,'%Y-%m-%d %H:%i:%s') as ct ,checked
		from zy_sso_user
		where 1=1
		<if test="userName != null and userName !='' ">
			and user_name = #{userName}
		</if>
	</select>
</mapper>