<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.zy_sso.file.mybatis.dao.FileDao" >

  
  <!-- <insert id="insertFile" parameterType="com.qiyun.back.file.entity.FileEntity" useGeneratedKeys="true" keyProperty="id">
  	insert into qiyun_meetsports_file (type,size,path,"nameOld","nameNew",ct)
  	values(#{type},#{size},#{path},#{nameOld},#{nameNew}, to_timestamp(#{ct},'yyyy-MM-dd hh24:mi:ss'))
  </insert>

  <delete id="deleteFile" parameterType="java.lang.Integer">
  	delete from qiyun_meetsports_file where id=#{id}
  </delete>
  
  <select id="getFileById" parameterType="java.lang.Integer" resultType="com.qiyun.back.file.entity.FileEntity">
   SELECT 
   		id,type,size,path,path as pathAll,"nameOld","nameNew",to_char(ct,'yyyy-MM-dd hh24:mi:ss' ) as ct
     FROM  
     	qiyun_meetsports_file 
     WHERE 
     	"id"=#{id}
  </select>
 
   <select id="getFile" parameterType="com.qiyun.base.result.PageRequest" 
    resultType="com.qiyun.back.file.entity.FileEntity">
     SELECT 
   		id,type,size,path,path as pathAll,"nameOld","nameNew",to_char(ct,'yyyy-MM-dd hh24:mi:ss' ) as ct
     FROM  
     	qiyun_meetsports_file 
  </select> -->
 
  

    
</mapper>