<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
<th:block th:include="include :: header('用户列表')" />
<th:block th:include="include :: layout-latest-css" />
<th:block th:include="include :: ztree-css" />
</head>
<body class="gray-bg">
<!-- 工具栏 -->
<div id="toolbar">
		<form class="form-inline">
                  <div class="form-group">
                    <label class="sr-only" for="product_line">产品线</label>
                    <div class="input-group">
                      <div class="input-group-addon">产品线</div>
                        <select class="form-control" name="product_line" id="productLine">
                            <option value="">请选择产品线...</option>
                        </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="msg_type">消息类型</label>
                    <div class="input-group">
                      <div class="input-group-addon">消息类型</div>
                        <select class="form-control" name="msg_type" id="msgType">
                            <option value="">请选择消息类型...</option>
                            <option value="">请选择消息类型...</option>
                            <option value="">请选择消息类型...</option>
                        </select>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="sr-only" for="msg_type">消息类型</label>
                    <div class="input-group">
                      <div class="input-group-addon">消息类型</div>
                        <input type="text" class="form-control" name="searchTexts" id="searchText" placeholder="请输入消息名称或内容关键字...">
                    </div>
                  </div>
                  <button type="button" class="btn btn-primary queryButton">查询</button>
                </form>
	</div>
	
	
<div style="margin-left:30px;">
	<table id="ArbetTable" class="table table-bordered"></table>
</div>
<!-- 	<button id="demo">点我</button> -->

	<th:block th:include="include :: footer" />
<!-- 	<th:block th:include="include :: layout-latest-js" /> -->
<!-- 	<th:block th:include="include :: ztree-js" /> -->
	<script th:inline="javascript">
		$(function () {
	     //1.初始化Table
		   var oTable = new TableInit();
		   oTable.Init();
		});
		
		
		var TableInit = function () {
		    var oTableInit = new Object();
		    //初始化Table
		    oTableInit.Init = function () {
		        $('#ArbetTable').bootstrapTable({
		            url:[[@{/user/getUserList}]],       //请求后台的URL（*）
		            method: 'get',                      //请求方式（*）
		            toolbar: '#toolbar',                //工具按钮用哪个容器
		            striped: true,                      //是否显示行间隔色
		            cache: false,                       //是否使用缓存，默认为true，所以一般情况下需要设置一下这个属性（*）
		            pagination: true,                   //是否显示分页（*）
		            sortable: false,                     //是否启用排序
		            sortOrder: "asc",                   //排序方式
		            queryParams: function (params) {
// 				    	console.log(params);
				        var temp = {   //这里的键的名字和控制器的变量名必须一直，这边改动，控制器也需要改成一样的,每次查询时传递给后端的参数
				        		pageSize: params.limit,   //页面大小
				                page: (params.offset/params.limit)+1,  //页码
				                id:1
// 				                pageSize: params.pageSize,   //页面大小
// 			                    pageNumber: params.pageNumber, 
// 			                    page: params.pageNumber
				           // "userName": "zy"   //页面大小
				           // offset:params.offset
// 				            search: params.search
				        };
				        return temp;
				    },//传递参数（*）
		            sidePagination: "server",           //分页方式：client客户端分页，server服务端分页（*）
		            pageNumber: 1,                       //初始化加载第一页，默认第一页
		            pageSize: 10,                       //每页的记录行数（*）
		            pageList: [10, 25, 50, 100],        //可供选择的每页的行数（*）
		            search: false,                       //是否显示表格搜索，此搜索是客户端搜索，不会进服务端，所以，个人感觉意义不大
		            contentType: "application/json;charset=UTF=8",
		            dataType:'json',	
		            strictSearch: true,
		            showColumns: true,                  //是否显示所有的列
		            showRefresh: true,                  //是否显示刷新按钮
		            minimumCountColumns: 2,             //最少允许的列数
		            clickToSelect: true,                //是否启用点击选中行
// 		            height: 400,                        //行高，如果没有设置height属性，表格自动根据记录条数觉得表格高度
		            uniqueId: "id",                     //每一行的唯一标识，一般为主键列
		            showToggle: true,                    //是否显示详细视图和列表视图的切换按钮
		            cardView: false,                    //是否显示详细视图
		            detailView: false,                   //是否显示父子表
		            clickToSelect:false,
		            responseHandler:function(res){
		                //动态渲染表格之前获取有后台传递的数据时,用于获取出除去本身渲染所需的数据的额外参数
		                //详见此函数参数的api
		                return {
		                	"rows":res.data,
		                	"total":res.total
		                };
		            },
		            columns: [
		            {
		            	field: 'statebox',
		                checkbox: true
// 		                align : 'center',
// 						halign : 'center',
// 						valign : 'middle'
		            },
		            {
		                field: 'id',
		                title: 'id',
		                align : 'center',
						halign : 'center',
						valign : 'middle'
		            },
		            {
		                field: 'userName',
		                title: '名字1',
		                align : 'center',
						halign : 'center',
						valign : 'middle'
		            },
		            {
		                field: 'headImg',
		                title: '头像地址',
		                align : 'center',
		                halign : 'center',
		                valign : 'middle',
                        formatter : function(value, row, index) {
								return '<img src="http://5b0988e595225.cdn.sohucs.com/images/20170826/b6fc1b92d3384f7f96a0e7a7e073d579.jpeg" height="40" width="40" class="imgurl"/>';
						}
		            },
		            {
		                field: 'headImg',
		                title: '按钮',
		                align : 'center',
		                halign : 'center',
		                valign : 'middle',
		                formatter : function(value, row, index) {
								return '<button class="btn btn-danger btn-sm" style="border-radius: 20px;">编辑</button>';
						}
		            },
		            {
		                field: 'checked',
		                title: '审核状态',
		                align : 'center',
		                halign : 'center',
		                valign : 'middle',
                        // checkbox:true,
		                formatter : function(value, row, index) {
                            var userid=row.id;
                            if (row.checked == '0') {
                                return '<input name="my-checkbox0" type="checkbox" class="ck" value="' + row.id + '"/>'
                            } else if (row.checked == "1") {
                                return '<input name="my-checkbox1" type="checkbox" checked class="ck" value="' + row.id + '"/>'
                            }
                            // if(value == true){
                            //     var value1='<input value="'+userid+'" type="checkbox" name="my-checkbox1" checked/>';
                            //     return  value1;
                            // }else{
                            //     return '<input value="'+userid+'" type="checkbox"  name="my-checkbox2"/>';
                            // }

                        }
		            },
		            {
		                field: 'ct',
		                title: '创建时间',
		                align : 'center',
		                halign : 'center',
		                valign : 'middle'
		            },
		            {
		                field: 'operate',
		                title: '操作',
		                align : 'center',
		                halign : 'center',
		                valign : 'middle',
		                formatter: function operateFormatter(value, row, index) {//赋予的参数
		        		    return [
		        		        '<button type="button" class="btn btn-success btn-xs " ><i class="glyphicon glyphicon-check"></i></button> ',
		        		        ' <button type="button" class="btn btn-danger btn-xs "><i class="glyphicon glyphicon-remove"></i></button>'

		        		    ].join('');
		        		} //自定义方法，添加操作按钮
		            },
		            ],
		            rowStyle: function (row, index) {
		                var classesArr = ['success', 'info'];
		                var strclass = "";
		                if (index % 2 === 0) {//偶数行
		                    strclass = classesArr[0];
		                } else {//奇数行
		                    strclass = classesArr[1];
		                }
		                return { classes: strclass };
		            },//隔行变色
		            
		            
		            //该方法用于加载控件之类的，在table加载完成后执行
		            onLoadSuccess:function(){
		   			 /* 初始化控件 */
                  //       $('[name="my-checkbox1"]').bootstrapSwitch({  
  				//             onText : "冻结",      // 设置ON文本  
  				//             offText : "正常",    // 设置OFF文本  
  				//             onColor : "primary",// 设置ON文本颜色     (info/success/warning/danger/primary)  
  				//             offColor : "info",  // 设置OFF文本颜色        (info/success/warning/danger/primary)  
  				//             size : "mini",    // 设置控件大小,从小到大  (mini/small/normal/large)  
  				//             handleWidth:"28",//设置控件宽度
  				//             // 当开关状态改变时触发  
  				//             onSwitchChange : function(event, state) {  
  				//                 if (state == true) {
  				//                         // console.log("按钮打开");
  				//                 } else {
                  //                       // console.log("按钮关闭");
  				//                 }  
  				//             }  
  				//         });

                        $("[name='my-checkbox0']").bootstrapSwitch({//分种类初始化
                            onText:"是",
                            offText:"否",
                            onColor:"success",
                            offColor:"danger",
                            size:"mini",
                            onSwitchChange:function(event,state){
                                if(state==true){
                                    // var id=this.value;
                                    // var url_send=urlHead()+"/rest/setsms?userid="+id+"&sendee=true";
                                    // $.getJSON(url_send,function(data,status){
                                    //     if(data.status==200){
                                    //         toastr.success("该管理员已经成为短信接收人！")
                                    //     }else{
                                    //         toastr.error("修改失败");
                                    //     }
                                    // })
                                }else{
                                    // var id=this.value;
                                    // var url_send=urlHead()+"/rest/setsms?userid="+id+"&sendee=false";
                                    // $.getJSON(url_send,function(data,status){
                                    //     if(data.status==200){
                                    //         toastr.success("已取消该管理员的短信接收权限！")
                                    //     }else{
                                    //         toastr.error("修改失败");
                                    //     }
                                    // })
                                }
                            },
                        });

                        $("[name='my-checkbox1']").bootstrapSwitch({
                            onText:"是",
                            offText:"否",
                            onColor:"success",
                            offColor:"danger",
                            size:"large",
                            onSwitchChange:function(event,state){
                                if(state==true){
                                    // var id=this.value;
                                    // var url_send=urlHead()+"/rest/setsms?userid="+id+"&sendee=true";
                                    // $.getJSON(url_send,function(data,status){
                                    //     if(data.status==200){
                                    //         toastr.success("该管理员已经成为短信接收人！")
                                    //     }else{
                                    //         toastr.error("修改失败");
                                    //     }
                                    // })
                                }else{
                                    // var id=this.value;
                                    // var url_send=urlHead()+"/rest/setsms?userid="+id+"&sendee=false";
                                    // $.getJSON(url_send,function(data,status){
                                    //     if(data.status==200){
                                    //         toastr.success("已取消该管理员的短信接收权限！")
                                    //     }else{
                                    //         toastr.error("修改失败");
                                    //     }
                                    // })
                                }
                            },
                        })


		            },
		        });

		    };
		    return oTableInit;
		};
        var ff = function () {
            // console.log(111);
            var rows = $('#ArbetTable').bootstrapTable('getData');
            // console.log(rows.length);
            for (var i = 0; i < rows.length; i++) {
                // console.log(rows[i]);
                var sendee = rows[i].checked;
                if(sendee==true){
                    $("[name='my-checkbox1']").bootstrapSwitch('state',true);
                }
                else if(sendee==false){
                    $("[name='my-checkbox0']").bootstrapSwitch("state",false);
                }

            }
        }
        setTimeout(ff,500);
</script>
</body>


</html>