<!--
Author: W3layouts
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
<title>张毅_个人简历</title>
<!--mobile apps-->
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="My Resume Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template, 
	SmartPhone Compatible web template, free WebDesigns for Nokia, Samsung, LG, SonyEricsson, Motorola web design" />
<script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
<!--mobile apps-->
<!--Custom Theme files-->
<link rel="shortcut icon" href="images/your_ico.ico" th:href="@{images/your_ico.ico}" type="image/x-icon">
<link rel="icon" href="images/your_ico.ico" th:href="@{images/your_ico.ico}" type="image/x-icon">
<link href="css/bootstrap.css" th:href="@{css/bootstrap.css}" type="text/css" rel="stylesheet" media="all">
<link href="css/style.css" th:href="@{css/style.css}" type="text/css" rel="stylesheet" media="all">
<link rel="stylesheet" href="css/swipebox.css" th:href="@{css/swipebox.css}">
<!--//Custom Theme files-->
<!--js-->
<script src="js/jquery-1.11.1.min.js" th:href="@{js/jquery-1.11.1.min.js}"></script>
<!-- //js -->
<!--web-fonts-->
<!--<link href='//fonts.googleapis.com/css?family=Overlock:400,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>-->
<!--<link href='//fonts.googleapis.com/css?family=Roboto+Condensed:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'>-->
<!--//web-fonts-->
<!--start-smooth-scrolling-->
<script type="text/javascript" src="js/move-top.js" th:src="@{js/move-top.js}"></script>
<script type="text/javascript" src="js/easing.js" th:src="@{js/easing.js}"></script>
<script type="text/javascript">
		jQuery(document).ready(function($) {
			$(".scroll").click(function(event){		
				event.preventDefault();
				$('html,body').animate({scrollTop:$(this.hash).offset().top},1000);
			});
		});
</script>
<!--//end-smooth-scrolling-->
</head>
<body>
	<!--banner-->
	<div id="home" class="banner">
		<div class="banner-info">
			<div class="container">
				<div class="col-md-4 header-left">
					<img src="images/img1.jpg" alt=""/>
				</div>
				<div class="col-md-8 header-right">
					<h2>欢迎来到我的博客</h2>
					
					<div style="display: flex;"  >
						<h1>My name is 张毅</h1>
						<!-- <input type="button" value=""/> -->
						<button class="btn btn-large btn-primary" id="toBlogs"><i class="glyphicon glyphicon-user"></i>个人主页</button>
						<!--<button>aaa</button>-->
						<!--<a id="toBlogs">aaaaa</a>-->
					</div>
					
					<h6>java开发工程师</h6>
					<ul class="address">
						<li>
							<ul class="address-text">
								<li><b>出生日期</b></li>
								<li>1997-04-08</li>
							</ul>
						</li>
						<li>
							<ul class="address-text">
								<li><b>联系电话 </b></li>
								<li>15285287119</li>
							</ul>
						</li>
						<li>
							<ul class="address-text">
								<li><b>居住地址 </b></li>
								<li>重庆市九龙坡</li>
							</ul>
						</li>
						<li>
							<ul class="address-text">
								<li><b>个人邮箱 </b></li>
								<li><a href="1073988580@qq.com" target="_blank">1073988580@qq.com</a></li>
							</ul>
						</li>
						<li>
							<ul class="address-text">
								<li><b>github</b></li>
								<li><a href="https://github.com/ZhangYi520" target="_blank">https://github.com/ZhangYi520</a></li>
							</ul>
						</li>
						<li>
							<ul class="address-text">
								<li><b>CSDN</b></li>
								<li><a href="https://blog.csdn.net/qq_39648029" target="_blank">https://blog.csdn.net/qq_39648029</a></li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="clearfix"> </div>
			</div>

		</div>
	</div>
	<!--//banner-->
	<!--top-nav-->
	<div class="top-nav wow">
		<div class="container">
			<div class="navbar-header logo">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
					导航
				</button>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<div class="menu">
					<ul class="nav navbar">
						<li><a href="#about" class="scroll">关于我</a></li>
						<li><a href="#work" class="scroll">个人经历</a></li>
						<li><a href="#education" class="scroll">教育背景</a></li>
						<li><a href="#skills" class="scroll">专业技能</a></li>
						<li><a href="#projects" class="scroll">部分作品</a></li>
						<li><a href="#contact" class="scroll">联系我们</a></li>
					</ul>
					<div class="clearfix"> </div>
				</div>
			</div>
		</div>
	</div>
	<!--//top-nav-->
	<!--about-->
	<div id="about" class="about">
		<div class="container">
			<h3 class="title"> 关于我</h3>
			<div class="col-md-12 about-left">
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;具有较强的用户研究、市场分析能力，对中国用户的社会形态、生活方式有丰富的认识和独特的见解;对色彩、材质感觉细腻而敏感，具有色彩、材质、表面处理的研究和趋势分析能力，对当代中国的色彩具有深入的理解和自己的观点;能够准确把握社会文化、流行趋势，对中国现代社会及传统文化背景有仔细的研究和深刻的理解;对设计工作充满热情，有较强的设计能力，设计的产品范围广泛。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;熟悉服装制作的基础知识，懂得人体结构理论，对服装面料，辅料性质有足够的认识，精通服装制作过程及工艺、成本构成。熟悉服装企业的接单报价排单流程，生产排期流程，制作工艺流程，验货程序标准等。手绘功底深，工作积极性高，为人热情，乐于助人，沟通能力较强，拥有创新思维、有团队精神并能承受较大的工作压力。</p>
				<p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;拥有多年的工业设计经验，经过时间的积累和沉淀已经有了自己的设计技巧和风格，性格低调，比较细心，责任感强，有进取心，诚实可靠。有很强的团队合作意识和一定的领导能力，具有良好的手绘能力,思维敏锐，学习能力、表达能力出众。</p>
			</div>
			<!--<div class="col-md-4 about-right">-->
				<!--<ul>-->
					<!--<h5>荣誉证书</h5>-->
					<!--<li><span class="glyphicon glyphicon-menu-right" ></span> 河南工业大学专科学历</li>-->
					<!--<li><span class="glyphicon glyphicon-menu-right"></span> 郑州大学自考本科学历</li>-->
					<!--<li><span class="glyphicon glyphicon-menu-right"></span> 高级UI设计师证书</li>-->
					<!--<li><span class="glyphicon glyphicon-menu-right"></span> 千典公司品牌最佳设计师荣誉</li>-->
					<!--<li><span class="glyphicon glyphicon-menu-right"></span> ..................................... </li>-->
				<!--</ul>-->
				<!--<div class="clearfix"> </div>-->
			<!--</div>-->
			<div class="clearfix"> </div>
		</div>
	</div>
	<!--//about-->
	<!--work-experience-->
	<div id="work" class="work">
		<div class="container">
			<h3 class="title">个人经历</h3>
			<div class="work-info"> 
				<div class="col-md-6 work-left"> 
					<h4>2017 - 至今 </h4>
				</div>
				<div class="col-md-6 work-right"> 
					<h5><span class="glyphicon glyphicon-briefcase"> </span> 河南千典文化传播有限公司</h5>
					<p>2017年5月，具有设计爱好的三人在一次电话共同组建三人小组，畅谈现如今设计行业发展趋势，6月结交在一起，共同协商千典品牌设计公司发展流程，7月正是注册河南千典文化传播有限公司成立。创定法定代表人,公司经营范围包括：设计、制作、代理、发布国内广告，企业管理咨询，企业营销策划，展览展示策划，文化艺术交流活动策划，平面设计，包装设计，企业形象策划等。 </p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="work-info"> 
				<div class="col-md-6 work-right work-right2"> 
					<h4>2016 - 2017 </h4>
				</div>
				<div class="col-md-6 work-left work-left2"> 
					<h5> 北京吉惠网络科技有限公司 <span class="glyphicon glyphicon-briefcase"> </span></h5>
					<p>2015年11月进入北京吉惠网络科技有限公司，主要负责网站后台维护，前端页面制作，设计。协同他人一起管理产品的上架，客户的沟通！ </p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="work-info"> 
				<div class="col-md-6 work-left"> 
					<h4>2015 - 2016 </h4>
				</div>
				<div class="col-md-6 work-right"> 
					<h5><span class="glyphicon glyphicon-briefcase"> </span> 中国酒商网</h5>
					<p>2015年3月，负责中国酒商网客户产品图的优化，制作！客户网站排版风格设计！ </p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="work-info"> 
				<div class="col-md-6 work-right work-right2"> 
					<h4>2014 - 2015 </h4>
				</div>
				<div class="col-md-6 work-left work-left2"> 
					<h5> 河南工业大学就读参加结业考试 <span class="glyphicon glyphicon-briefcase"></span> </h5>
					<p>2014年先后取得河南工业大学专科学历证书和郑州大学自考本科学历！ </p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--//work-experience-->
	<!--education-->
	<div id="education" class="education">
		<div class="container">
			<h3 class="title">教育背景</h3>
			<div class="work-info"> 
				<div class="col-md-6 work-left"> 
					<h4>Master Degree - 2010</h4>
				</div>
				<div class="col-md-6 work-right"> 
					<h5><span class="glyphicon glyphicon-education"> </span> 河南工业大学</h5>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo </p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="work-info"> 
				<div class="col-md-6 work-right work-right2"> 
					<h4>Diploma in Design - 2010</h4>
				</div>
				<div class="col-md-6 work-left work-left2"> 
					<h5> University Name <span class="glyphicon glyphicon-education"></span></h5>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo </p>
				</div>
				<div class="clearfix"> </div>
			</div>
			<div class="work-info"> 
				<div class="col-md-6 work-left"> 
					<h4>Web Design - 2008</h4>
				</div>
				<div class="col-md-6 work-right"> 
					<h5><span class="glyphicon glyphicon-education"> </span> University Name</h5>
					<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo </p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--//education-->
	<!--skills-->
	<div id="skills" class="skills">
		<div class="container">
			<h3 class="title">专业技能</h3>
			<div class="skills-info">
				<div class="col-md-6 bar-grids">
					<h6>html/css/js<span> 50% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 50%">
						</div>
					</div>
					<h6>java <span> 80% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 80%">
						</div>
					</div>
					<h6>spring boot<span>80% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 80%">
						</div>
					</div>
					<h6>SSM<span> 80% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 80%">
						</div>
					</div>
				</div>
				<div class="col-md-6 bar-grids">
					<h6>Adobe Illustrator <span> 85% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 85%">
						</div>
					</div>
					<h6>SOCIAL MEDIA MARKETING<span> 95% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 95%">
						</div>
					</div>
					<h6>UX DEVELOPER<span>80% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 80%">
						</div>
					</div>
					<h6>CINEMA 4D<span> 60% </span></h6>
					<div class="progress">
						<div class="progress-bar progress-bar-striped active" style="width: 60%">
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!--//education-->
	<!--portfolio-->
	<div id="projects" class="portfolio">
		<div class="container">
			<h3 class="title wow zoomInLeft animated" data-wow-delay=".5s">部分作品</h3>
			<div class="sap_tabs">			
				<div id="horizontalTab" style="display: block; width: 100%; margin: 0px;">
					<ul class="resp-tabs-list wow fadeInUp animated" data-wow-delay=".7s">
						<li class="resp-tab-item"><span>All</span></li>
						<li class="resp-tab-item"><span>Html</span></li>
						<li class="resp-tab-item"><span> Photoshop</span></li>
						<li class="resp-tab-item"><span>Cinema 4D</span></li>
						<li class="resp-tab-item"><span>LOGO/VI</span></li>
					</ul>	
					<div class="clearfix"> </div>	
					<div class="resp-tabs-container">
						<div class="tab-1 resp-tab-content">
							<div class="tab_img">
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="images/g1.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
											<img src="images/g1.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>苹果酒广告，莎拉喜欢看云。她很沮丧。</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid effect-sarah">
										<a href="images/g2.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
											<img src="images/g2.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>莎拉喜欢看云。她很沮丧。</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="images/g3.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
											<img src="images/g3.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>莎拉喜欢看云。她很沮丧。</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="images/g4.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
											<img src="images/g4.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>莎拉喜欢看云。她很沮丧。</p>
											</div>
										</a>	
									</div>
								</div>
								
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="images/g11.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
											<img src="images/g11.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>莎拉喜欢看云。她很沮丧。</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="images/g6.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
											<img src="images/g6.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>莎拉喜欢看云。她很沮丧。</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="images/g7.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
											<img src="images/g7.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>莎拉喜欢看云。她很沮丧。</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="images/g8.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
											<img src="images/g8.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>莎拉喜欢看云。她很沮丧。</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="images/g9.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
											<img src="images/g9.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>莎拉喜欢看云。她很沮丧。</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="images/g10.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
											<img src="images/g10.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>莎拉喜欢看云。她很沮丧。</p>
											</div>
										</a>	
									</div>
								</div>
								
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="images/g5.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
											<img src="images/g5.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>莎拉喜欢看云。她很沮丧。</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="images/g12.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
											<img src="images/g12.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>莎拉喜欢看云。她很沮丧。</p>
											</div>
										</a>	
									</div>
								</div>
								
								
								
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="tab-1 resp-tab-content">
							<div class="tab_img">
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="images/g5.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
											<img src="images/g5.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>莎拉喜欢看云。她很沮丧。</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="images/g6.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
											<img src="images/g6.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>莎拉喜欢看云。她很沮丧。</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="images/g7.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
											<img src="images/g7.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>莎拉喜欢看云。她很沮丧。</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="tab-1 resp-tab-content">
							<div class="tab_img">
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="images/g3.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
											<img src="images/g3.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>莎拉喜欢看云。她很沮丧。</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="images/g1.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
											<img src="images/g1.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>莎拉喜欢看云。她很沮丧。</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="images/g9.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
											<img src="images/g9.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>莎拉喜欢看云。她很沮丧。</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="tab-1 resp-tab-content">
							<div class="tab_img">
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="images/g2.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
											<img src="images/g2.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>莎拉喜欢看云。她很沮丧。</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="images/g4.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
											<img src="images/g4.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>莎拉喜欢看云。她很沮丧。</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="images/g8.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
											<img src="images/g8.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>莎拉喜欢看云。她很沮丧。</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
						<div class="tab-1 resp-tab-content">
							<div class="tab_img">
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="images/g10.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
											<img src="images/g10.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>莎拉喜欢看云。她很沮丧。</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="images/g11.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
											<img src="images/g11.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>莎拉喜欢看云。她很沮丧。</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="col-md-4 portfolio-grids">
									<div class="grid">
										<a href="images/g12.jpg" class="swipebox" title="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis maximus tortor diam, ac lobortis justo rutrum quis. Praesent non purus fermentum, eleifend velit non">
											<img src="images/g12.jpg" alt="" class="img-responsive" />
											<div class="figcaption">
												<h3>My<span> Project</span></h3>
												<p>莎拉喜欢看云。她很沮丧。</p>
											</div>
										</a>	
									</div>
								</div>
								<div class="clearfix"> </div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!--ResponsiveTabs-->
			<script src="js/easyResponsiveTabs.js" type="text/javascript"></script>
			<script type="text/javascript">
				$(document).ready(function () {
					$('#horizontalTab').easyResponsiveTabs({
						type: 'default', //Types: default, vertical, accordion           
						width: 'auto', //auto or any width like 600px
						fit: true   // 100% fit in a container
					});
				});		
			</script>
			<!--//ResponsiveTabs-->
			<!-- swipe box js -->
			<script src="js/jquery.swipebox.min.js"></script> 
				<script type="text/javascript">
					jQuery(function($) {
						$(".swipebox").swipebox();
					});
			</script>
			<!-- //swipe box js -->
		</div>
	</div>
	<!--//portfolio-->
	<!--contact -->
	<div class="welcome contact" id="contact">
		<div class="container">
			<h3 class="title">联系我们</h3>
			<div class="contact-row">
				<div class="col-md-6 contact-left">
					<iframe src="http://map.baidu.com/#panoid=09002200011706171137054909Z&panotype=street&heading=0&pitch=0&l=19&tn=B_NORMAL_MAP&sc=0&newmap=1&shareurl=1&pid=09002200011706171137054909Z"></iframe>
				</div>
				<div class="col-md-6 contact-right">
					<div class="address-left">
						<p>北京朝阳区赵九路风景线,中国 </p>
					</div>
					<div class="address-right">
						<p>电话 : 1500008888</p>
						<p>E-mail : <a href="http://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=OwoLDg0MAwgIDgJ7SkoVWFRW" target="_blank">fm185@sina.com</a></p>
					</div>
					<div class="clearfix"></div>
					<div class="contact-form">
						<form action="#" method="post">
							<input type="text" name="Name" placeholder="Name" required="">
							<input class="email" name="Email" type="text" placeholder="Email" required="">
							<input class="phone" name="phone" type="text" placeholder="Phone" required="">
							<textarea name="Message" placeholder="Message" required=""></textarea>
							<input type="submit" value="提交" >
						</form>
					</div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--//contact -->
	<!--footer-->
	<div class="footer">
		<div class="container">
			<p>©2018我的简历。所有权利保留|设计的 更多模板：<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>
		</div>
	</div>
	<!--//footer-->
	<!--smooth-scrolling-of-move-up-->

	<script type="text/javascript">
		$(document).ready(function() {
		
			var defaults = {
				containerID: 'toTop', // fading element id
				containerHoverID: 'toTopHover', // fading element hover id
				scrollSpeed: 1200,
				easingType: 'linear' 
			};
			
			$().UItoTop({ easingType: 'easeOutQuart' });
			
		});



	</script>
	<!--//smooth-scrolling-of-move-up-->
	<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

	<script src="js/bootstrap.js"></script>
</body>

<!--<script th:src="@{/js/jquery-1.11.1.min.js}" src="/js/jquery-1.11.1.min.js"></script>-->
<script type="text/javascript" th:inline="javascript">
	// alert(1)
    $('#toBlogs').click(function (){
        // alert(1)
        // window.location.href=[[@{/blogs/toBlogsIndex}]];
        window.location.href="html/blogs/blogsIndex.html";
    })
    // function toBlogs() {
    //     console.log("aaaaa")
    //     window.location.href=[[@{/blogs/toBlogsIndex}]];
    // }
</script>
</html>