<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.common.dao.ArticleSpecialColumnMapper" >
  <resultMap id="BaseResultMap" type="com.zy.common.entity.ArticleSpecialColumn" >
    <id column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="article_id" property="articleId" jdbcType="VARCHAR" />
    <result column="voc_id" property="vocId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    uuid, article_id, voc_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from article_special_column
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from article_special_column
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zy.common.entity.ArticleSpecialColumn" >
    insert into article_special_column (uuid, article_id, voc_id
      )
    values (#{uuid,jdbcType=VARCHAR}, #{articleId,jdbcType=VARCHAR}, #{vocId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.zy.common.entity.ArticleSpecialColumn" >
    insert into article_special_column
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="articleId != null" >
        article_id,
      </if>
      <if test="vocId != null" >
        voc_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="articleId != null" >
        #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="vocId != null" >
        #{vocId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zy.common.entity.ArticleSpecialColumn" >
    update article_special_column
    <set >
      <if test="articleId != null" >
        article_id = #{articleId,jdbcType=VARCHAR},
      </if>
      <if test="vocId != null" >
        voc_id = #{vocId,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zy.common.entity.ArticleSpecialColumn" >
    update article_special_column
    set article_id = #{articleId,jdbcType=VARCHAR},
      voc_id = #{vocId,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>

  <insert id="insertAll" parameterType="java.util.List">
     insert into article_special_column (uuid, article_id, voc_id
      )
    values
    <foreach collection="list" item="item" index="index" separator=",">
      (
      #{item.uuid},#{item.articleId},#{item.vocId}
      )
    </foreach>

  </insert>
</mapper>