<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zy.common.dao.VocMapper" >
  <resultMap id="BaseResultMap" type="com.zy.common.entity.Voc" >
    <id column="uuid" property="uuid" jdbcType="VARCHAR" />
    <result column="pid" property="pid" jdbcType="VARCHAR" />
    <result column="voc_code" property="vocCode" jdbcType="VARCHAR" />
    <result column="level" property="vocNameLev1" jdbcType="VARCHAR" />
    <result column="name" property="vocNameLev2" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    uuid, pid, voc_code, level, name
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from voc
    where uuid = #{uuid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from voc
    where uuid = #{uuid,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.zy.common.entity.Voc" >
    insert into voc (uuid, pid, voc_code, 
      level, name)
    values (#{uuid,jdbcType=VARCHAR}, #{pid,jdbcType=VARCHAR}, #{vocCode,jdbcType=VARCHAR}, 
      #{vocNameLev1,jdbcType=VARCHAR}, #{vocNameLev2,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.zy.common.entity.Voc" >
    insert into voc
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        uuid,
      </if>
      <if test="pid != null" >
        pid,
      </if>
      <if test="vocCode != null" >
        voc_code,
      </if>
      <if test="vocNameLev1 != null" >
        level,
      </if>
      <if test="vocNameLev2 != null" >
        name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="uuid != null" >
        #{uuid,jdbcType=VARCHAR},
      </if>
      <if test="pid != null" >
        #{pid,jdbcType=VARCHAR},
      </if>
      <if test="vocCode != null" >
        #{vocCode,jdbcType=VARCHAR},
      </if>
      <if test="vocNameLev1 != null" >
        #{vocNameLev1,jdbcType=VARCHAR},
      </if>
      <if test="vocNameLev2 != null" >
        #{vocNameLev2,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.zy.common.entity.Voc" >
    update voc
    <set >
      <if test="pid != null" >
        pid = #{pid,jdbcType=VARCHAR},
      </if>
      <if test="vocCode != null" >
        voc_code = #{vocCode,jdbcType=VARCHAR},
      </if>
      <if test="vocNameLev1 != null" >
        level = #{vocNameLev1,jdbcType=VARCHAR},
      </if>
      <if test="vocNameLev2 != null" >
        name = #{vocNameLev2,jdbcType=VARCHAR},
      </if>
    </set>
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.zy.common.entity.Voc" >
    update voc
    set pid = #{pid,jdbcType=VARCHAR},
      voc_code = #{vocCode,jdbcType=VARCHAR},
      level = #{vocNameLev1,jdbcType=VARCHAR},
      name = #{vocNameLev2,jdbcType=VARCHAR}
    where uuid = #{uuid,jdbcType=VARCHAR}
  </update>

  <select id="getSonListByVocCode" resultType="com.zy.common.entity.Voc" parameterType="java.lang.String">
    SELECT
        uuid,
        pid,
        voc_code,
        `level`,
        `name`
    FROM
        voc a
    WHERE
        a.pid = (
            SELECT
                uuid
            FROM
                voc
            WHERE
                voc_code = #{code}
        )
  </select>
</mapper>